---
import BaseLayout from "../layouts/base.astro";
import {
  counters,
  characters,
  cards,
  zones,
  marks,
} from "../components/token/definitions";
import TokenList from "../components/token/token-list.astro";
---

<BaseLayout pageTitle="Legend">
  <div class="_text-xl sm:grid sm:grid-cols-2 lg:grid-cols-3">
    <TokenList label="Counters" group={counters} />
    <TokenList label="Marks" group={marks} />
    <TokenList label="Cards" group={cards} />
    <TokenList label="Zones" group={zones} />
    <TokenList label="Characters" group={characters} />
  </div>
</BaseLayout>
